# Python Web Scraper For WIC Grocery Stores

## Part 1:Scraping store names and adresses from WIC Grocery Stores website

In [2]:
import requests  # used to get url
import json  # used to read json files on the webpage
import pandas as pd  # used to integrate data

The starting url was the request url when you turn the page. It could be retrived from Developer Tools -> Network -> Headers only after turning the page. 

The data on this website are 85 pages of JSON files. Each page has 10 stores and their addresses. The total number of pages may be updated. Please update the variable 'page_count' to reflect the current total number of pages.

In [3]:
# There are 84 pages on the WIC website
page_count = 84

# Begin with page 1
page_number = 1

# start_url begins with page 1 as well
start_url = 'https://wicgrocerystores.web.health.state.mn.us/search?criteria=&size=10&page=' + str(page_number)

In [4]:
# Get response from start_url
resp = requests.get(start_url)

# Load the json file in start_url (only page 1 is there)
data = json.loads(resp.text)
print(data)

{'totalElements': 828, 'data': [{'id': '8245', 'name': '1st Quality Market', 'address': {'street': '2655 Nicollet Ave', 'city': 'MINNEAPOLIS', 'zipCode': 55408, 'county': 'HENNEPIN'}}, {'id': '1548', 'name': '52 MARKET  AND TRADING', 'address': {'street': '990 ARCADE ST', 'city': 'SAINT PAUL', 'zipCode': 55106, 'county': 'RAMSEY'}}, {'id': '8782', 'name': '75 Market and Deli', 'address': {'street': '1187 MINNEHAHA AVE EAST', 'city': 'SAINT PAUL', 'zipCode': 55106, 'county': 'RAMSEY'}}, {'id': '8685', 'name': '7th Grocery', 'address': {'street': '43 7TH STREET W', 'city': 'SAINT PAUL', 'zipCode': 55102, 'county': 'RAMSEY'}}, {'id': '8875', 'name': 'A A Market', 'address': {'street': '191 WESTERN AVENUE', 'city': 'SAINT PAUL', 'zipCode': 55102, 'county': 'RAMSEY'}}, {'id': '8552', 'name': 'Aaran Halal Market', 'address': {'street': '8904 Old Cedar Ave S', 'city': 'BLOOMINGTON', 'zipCode': 55425, 'county': 'HENNEPIN'}}, {'id': '8379', 'name': 'Africa International Market', 'address': {'street': '7617 Welcome Ave N', 'city': 'BROOKLYN PARK', 'zipCode': 55443, 'county': 'HENNEPIN'}}, {'id': '8783', 'name': 'African Halal & Deli', 'address': {'street': '405 E Lake St ', 'city': 'MINNEAPOLIS', 'zipCode': 55408, 'county': 'HENNEPIN'}}, {'id': '8624', 'name': 'African Plaza', 'address': {'street': '555 SNELLING AVE N', 'city': '', 'zipCode': 55104, 'county': ''}}, {'id': '341', 'name': 'AFRIK GROCERY', 'address': {'street': '613 CEDAR AVE S', 'city': 'MINNEAPOLIS', 'zipCode': 55454, 'county': 'HENNEPIN'}}]}

In [5]:
# Normalize the json file into the pandas data frame called "df".
df = pd.io.json.json_normalize(data['data'])
df

,id,name,address.street,address.city,address.zipCode,address.county
0,8245,1st Quality Market,2655 Nicollet Ave,MINNEAPOLIS,55408,HENNEPIN
1,1548,52 MARKET AND TRADING,990 ARCADE ST,SAINT PAUL,55106,RAMSEY
2,8782,75 Market and Deli,1187 MINNEHAHA AVE EAST,SAINT PAUL,55106,RAMSEY
3,8685,7th Grocery,43 7TH STREET W,SAINT PAUL,55102,RAMSEY
4,8875,A A Market,191 WESTERN AVENUE,SAINT PAUL,55102,RAMSEY
5,8552,Aaran Halal Market,8904 Old Cedar Ave S,BLOOMINGTON,55425,HENNEPIN
6,8379,Africa International Market,7617 Welcome Ave N,BROOKLYN PARK,55443,HENNEPIN
7,8783,African Halal & Deli,405 E Lake St,MINNEAPOLIS,55408,HENNEPIN
8,8624,African Plaza,555 SNELLING AVE N,,55104,
9,341,AFRIK GROCERY,613 CEDAR AVE S,MINNEAPOLIS,55454,HENNEPIN

Note that "df" only have the information of the first 10 stores. Now We still have to load all 840 stores.

In [6]:
# Store 840 grocery stores into a pandas data frame called "df2".
df2 = pd.DataFrame()

# Here I create a for loop to get through all pages
for page_number in range(page_count):  
    page_number = page_number + 1
    start_url = 'https://wicgrocerystores.web.health.state.mn.us/search?criteria=&size=10&page=' + str(page_number)
    resp_next = requests.get(start_url)
    data = json.loads(resp_next.text)
    df = pd.io.json.json_normalize(data['data'])
    df2 = df2.append(df)

In [7]:
# Check if the loop runs to the end
print(page_number)
print(start_url)

84
https://wicgrocerystores.web.health.state.mn.us/search?criteria=&size=10&page=84

In [8]:
# Get the total number of store records
len(df2)

828

In [9]:
# Check the first 20 data in df2
#Note that in this data frame, the indices loop every ten rows
df2.head(20)

,id,name,address.street,address.city,address.zipCode,address.county
0,8245,1st Quality Market,2655 Nicollet Ave,MINNEAPOLIS,55408,HENNEPIN
1,1548,52 MARKET AND TRADING,990 ARCADE ST,SAINT PAUL,55106,RAMSEY
2,8782,75 Market and Deli,1187 MINNEHAHA AVE EAST,SAINT PAUL,55106,RAMSEY
3,8685,7th Grocery,43 7TH STREET W,SAINT PAUL,55102,RAMSEY
4,8875,A A Market,191 WESTERN AVENUE,SAINT PAUL,55102,RAMSEY
5,8552,Aaran Halal Market,8904 Old Cedar Ave S,BLOOMINGTON,55425,HENNEPIN
6,8379,Africa International Market,7617 Welcome Ave N,BROOKLYN PARK,55443,HENNEPIN
7,8783,African Halal & Deli,405 E Lake St,MINNEAPOLIS,55408,HENNEPIN
8,8624,African Plaza,555 SNELLING AVE N,,55104,
9,341,AFRIK GROCERY,613 CEDAR AVE S,MINNEAPOLIS,55454,HENNEPIN
0,7902,AIN-U-SHAMS,"131 LITCHFIELD AVE. SW, Suite 101",WILLMAR,56201,KANDIYOHI
1,8672,AINUSHAMS HALAL FOODS,123 W LAKE ST,MINNEAPOLIS,55408,HENNEPIN
2,8618,Alif Halal Market,"1501 Riverwood Dr, Suite 180",BURNSVILLE,55337,DAKOTA
3,5336,AL & LAURA'S FOODS,309 N MILL STREET,FERTILE,56540,POLK
4,8390,ALMADINA GROCERY MARKET,1001 E FRANKLIN AVE,MINNEAPOLIS,55404,HENNEPIN
5,8971,Almich's Market,2525 20th Street,SLAYTON,56172,MURRAY
6,8755,Almich's Market,34 E Center Ave,CLARA CITY,56222,CHIPPEWA
7,1212,ALMICH'S MARKET,1340 9TH ST,GRANITE FALLS,56241,YELLOW MEDICINE
8,297,ALMSTED'S FRESH MARKET,4200 DOUGLAS DR,CRYSTAL,55422,HENNEPIN
9,8788,A.M. Food & Tobacco,1814 Nicollet Ave S,MINNEAPOLIS,55403,HENNEPIN

## Part 2: Get started with Google Place API

Before using Google Place API. You must enable it from your Google account. To do this, please refer to https://developers.google.com/places/web-service/intro. If you're a new user, before you can start using the Google Maps Platform APIs and SDKs, you must sign up and create a billing account. To learn more, see https://developers.google.com/maps/gmp-get-started. 

After you enabled you API, you can get your API key for the next steps.

In [10]:
import googlemaps

# Replace "MY_API_KEY" with your API key
my_api_key = "MY_API_KEY"

In [11]:
# Get my Google Maps Platform API key
gmaps_key = googlemaps.Client(key = my_api_key)

In [12]:
# Here are the two basic url forms of Google Maps

# A Text Search request is an HTTP URL of the following form:
gmaps_text_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

# A Place Details request is an HTTP URL of the following form:
gmaps_details_url = "https://maps.googleapis.com/maps/api/place/details/json?"

Next, we will use the second record - "52 Market and Trading", to create our first query in Google Maps using Place API. The reason we use the second record is because the address of the first record, "1st Quality Market", doesn't match on the map.

The following code blocks has two goals to achieve. First, we will search the grocery store "52 Market and Trading" on Google Maps using the Text Search function to get its place id. Second, we will use its place id to access to the place details to get the opening hours.

In [12]:
# Try the first query
first_ten_data = df2[0:10]
first_query = first_ten_data.loc[1, 'address.street']+", "+first_ten_data.loc[1, 'address.city']+", "+str(first_ten_data.loc[1, 'address.zipCode']) + ", " + first_ten_data.loc[1, 'name'] # [0, 1, 2, ..., 9]
first_query

'990 ARCADE ST, SAINT PAUL, 55106, 52 MARKET  AND TRADING'

In [13]:
# Get the response of the first query place 
start_url2 = gmaps_text_url + 'query=' + first_query + '&key=' + my_api_key
resp2 = requests.get(start_url2)

In [14]:
# Display the information of the first query place
gmaps_data_1 = resp2.json()
gmaps_data_1

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'formatted_address': '990 Arcade St, St Paul, MN 55106, United States',
   'geometry': {'location': {'lat': 44.970965, 'lng': -93.0657013},
    'viewport': {'northeast': {'lat': 44.97231587989272,
      'lng': -93.06449197010728},
     'southwest': {'lat': 44.96961622010728, 'lng': -93.06719162989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
   'id': '718848f88e21f46e117c2cee314c981fdfb87ae5',
   'name': '52 Market & Trading',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
     'photo_reference': 'CmRZAAAAMOZlcM6IOxUfPSfsm9O3QvEy4JwFNK7Ye2lJz21p8j3_GQI8maJYN-tvsGBpOzmgHhGjubX8bhe1XPIHWLIEXFMjMoo63eOX6P6gksPzUt_aX1WJcd628qvUmq1pThpZEhB_FmUjP0nE_1RVYtZCTSr7GhS8ojC7pkmeX8V8s-D5a-fawOIs7A',
     'width': 4032}],
   'place_id': 'ChIJARxrTiTVslIRJxc4iTkTICg',
   'plus_code': {'compound_code': 'XWCM+9P St Paul, Minnesota',
    'global_code': '86P8XWCM+9P'},
   'rating': 3.8,
   'reference': 'ChIJARxrTiTVslIRJxc4iTkTICg',
   'types': ['convenience_store',
    'food',
    'point_of_interest',
    'store',
    'establishment'],
   'user_ratings_total': 20}],
 'status': 'OK'}

In [15]:
lat_1 = gmaps_data_1['results'][0]['geometry']['location']['lat']
lng_1 = gmaps_data_1['results'][0]['geometry']['location']['lng']
print(lat_1)
print(lng_1)

44.970965
-93.0657013

In this case, we use Google Maps text search function to search the store. But text search does not always turn up the right address. Hence, to control the data quality, we set have to set two quality check fields to record the matching address and matching name. If both the matching address and matching name are identical with the address and name on the WIC website, that piece of data is valid. Otherwise, it is invalid.

In [16]:
# Get the matching address and the matching name for this query
mat_addr_1 = gmaps_data_1['results'][0]['formatted_address']
mat_name_1 = gmaps_data_1['results'][0]['name']
print(mat_addr_1)
print(mat_name_1)

990 Arcade St, St Paul, MN 55106, United States
52 Market & Trading

In [17]:
# Get the place id for the first query place
gmaps_place_id_1 = gmaps_data_1['results'][0]['place_id']
gmaps_place_id_1

'ChIJARxrTiTVslIRJxc4iTkTICg'

In [18]:
# Get the response of the place details search
start_url3 = gmaps_details_url+ 'place_id=' + gmaps_place_id_1 + "&key=" + my_api_key
resp3 = requests.get(start_url3)
gmaps_data_details_1 = resp3.json()
gmaps_data_details_1

{'html_attributions': [],
 'result': {'address_components': [{'long_name': '990',
    'short_name': '990',
    'types': ['street_number']},
   {'long_name': 'Arcade Street',
    'short_name': 'Arcade St',
    'types': ['route']},
   {'long_name': 'Payne - Phalen',
    'short_name': 'Payne - Phalen',
    'types': ['neighborhood', 'political']},
   {'long_name': 'Saint Paul',
    'short_name': 'St Paul',
    'types': ['locality', 'political']},
   {'long_name': 'Ramsey County',
    'short_name': 'Ramsey County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Minnesota',
    'short_name': 'MN',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '55106', 'short_name': '55106', 'types': ['postal_code']},
   {'long_name': '3230',
    'short_name': '3230',
    'types': ['postal_code_suffix']}],
  'adr_address': '<span class="street-address">990 Arcade St</span>, <span class="locality">St Paul</span>, <span class="region">MN</span> <span class="postal-code">55106-3230</span>, <span class="country-name">USA</span>',
  'business_status': 'OPERATIONAL',
  'formatted_address': '990 Arcade St, St Paul, MN 55106, USA',
  'formatted_phone_number': '(651) 772-8573',
  'geometry': {'location': {'lat': 44.970965, 'lng': -93.0657013},
   'viewport': {'northeast': {'lat': 44.9723150302915,
     'lng': -93.06449281970849},
    'southwest': {'lat': 44.9696170697085, 'lng': -93.06719078029151}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
  'id': '718848f88e21f46e117c2cee314c981fdfb87ae5',
  'international_phone_number': '+1 651-772-8573',
  'name': '52 Market & Trading',
  'opening_hours': {'open_now': True,
   'periods': [{'close': {'day': 0, 'time': '2000'},
     'open': {'day': 0, 'time': '0800'}},
    {'close': {'day': 1, 'time': '2000'}, 'open': {'day': 1, 'time': '0800'}},
    {'close': {'day': 2, 'time': '2000'}, 'open': {'day': 2, 'time': '0800'}},
    {'close': {'day': 3, 'time': '2000'}, 'open': {'day': 3, 'time': '0800'}},
    {'close': {'day': 4, 'time': '2000'}, 'open': {'day': 4, 'time': '0800'}},
    {'close': {'day': 5, 'time': '2000'}, 'open': {'day': 5, 'time': '0800'}},
    {'close': {'day': 6, 'time': '2000'}, 'open': {'day': 6, 'time': '0800'}}],
   'weekday_text': ['Monday: 8:00 AM – 8:00 PM',
    'Tuesday: 8:00 AM – 8:00 PM',
    'Wednesday: 8:00 AM – 8:00 PM',
    'Thursday: 8:00 AM – 8:00 PM',
    'Friday: 8:00 AM – 8:00 PM',
    'Saturday: 8:00 AM – 8:00 PM',
    'Sunday: 8:00 AM – 8:00 PM']},
  'photos': [{'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAYvtxowqT1_8oyQZ8Q8xnKlrZn3URHDbNdOx6E3wcbLWL31kqIPMHicPzuHQdRHPwZ9sW5JvYxTWCzDxFlvzdAs_He_gdegZAhqYbaWjR_MXtcvD7YHMwyln3c0hKxJ7mEhDj0ECkABWDPOLYoxHQ8L95GhSWp5ULR6zMGObC3OxUwcMq0tj28A',
    'width': 4032},
   {'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAP-ruNSNF1g-1Q1tIBMtOFVlvCjFGHG6rMJoAS3DSJLA4yG1yEwUIJ42aE0jXd5VRyzMNDDV_Uf6lGI-YrHEiuAjtzGXpXmIDXdn9sUOZkEtWHwKmRRvQT6LarNG41St5EhDkmnAOrK5yS8CM13cZ-wYwGhSoHr952VbNTw2itv2cWybGu5jtWA',
    'width': 4032},
   {'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAvK0fF4F5WlOzOBo6IMD7IWlXUZGF23-ndf5TXLhPBNr6FLwxMKgVy9aGdw50L8bqDFNxtQlpkBiPL6K3vVBUTAKr9MoQpV_HbBav0igRjtPvK8ky1ILnz6XEB2vIcl6PEhCOU9rF47Os5T5d1g9q02srGhQNtCTg3VtaZbS2qD6txJU73D6c6w',
    'width': 4032},
   {'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAwAqznAtHvIKuLPQlc6ZNby5gwQTvFh2IS5_gUNxMGMgc7jPwCtewQh0SwoxC_94AG_eGO7zOo7jiKI87NkG0-_vJfQgKwGVPy_4LJ7mFUSYDu10vhndta9qqsxrlC4wrEhB3OQlpzcGSNrMtnG22Doh6GhQC6Z495Zm8jO_mIrSfTgh_ckwr6g',
    'width': 4032},
   {'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAuoJ8mhMi2p5ST-QHXTgUVq-h2E9hR-EnybjIP-CHvK_cL4HNa9UpEZYelAcm7KS7IgULuoHVChLJw21jX-rmYTxYB1cU11VyEH8raQEkosGuNk7jc45bfEz8Wg4PxhehEhBzzThSviqDjBww07UYAFwLGhQIlJUnSxWhpGJT5dv6VedbDAdcOg',
    'width': 4032},
   {'height': 1836,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/118388722080700854970">Khoua Eh Lee</a>'],
    'photo_reference': 'CmRaAAAAFmEjDRh1nLLWFwfcGCV30IMRbl4NzMx_1F3xcUh62_n9YDV1cr4ixxS1xWgIL7-w9JtWpsqFx2VkEC8YA7n8-Tfl653ZRkW7QZwzzwcWO5FgetnVYHl4MVBjMLJ9mNY0EhAtxGbbdNH9CYDAJhtoQQU7GhTX9NE85MnjONiDSX1Y8ApFSLMOXw',
    'width': 3264},
   {'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAQs-rrrywUMDcNpN87o9Itqcw7Rop0xHE6_Y2mSpKHzlDOOLwW37ReeiN_oE7dVEVBI1LyJdlIdUHUSd0FHmj9LHzm0OCqFWCEAeCysH0JdAOCJkHKV4sI_quOVt-g5bcEhAw8b66Jop2BFP7oFrkwz-eGhRHX-gM6h-RFxWSnvdV1MAvAcTSCw',
    'width': 4032},
   {'height': 4032,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAFPpjzA1L09FXOUDJHjEuVrpJjCX3WX92F18D4r3oZMYdd9FFdYmbZJLel972VXcXeu9Vt5UDqSYi6v2nh4Wts_tLIYBBnjz2HWnWMpqUHmvmVM3tHVpL5aQhvNkz9kzXEhDziwH8m_w28Ycp8AlUQ-FiGhRaWU8cpjfEMGesglO_9mS0TY6K2Q',
    'width': 3024},
   {'height': 4032,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAxO33squay6Sdc-znIAOV9xu9o5VhwLsmXBS5DInVN4rkVKZodMz8QBBrSCBPQpeyuTcfN_tSMaaRkGIm2bmbm_ZIeokX9jWDHfXtWqafpu_Sw8ApGwU9OGfwj7JjjYOlEhAEvC2MxxrDix05doFVBuPAGhSKeY8hXllU-jiFDc3syEQd0TD2kQ',
    'width': 3024},
   {'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100652635458176499984">Noah Vang Channel</a>'],
    'photo_reference': 'CmRZAAAAlQaY0IUF9DEAY2cb4r19ycEmsVBZ6n9OY1gskgM-Cc9fzVtVotXwlfR-ZKA17rbxhgi5nwiek9Fal-lN8UGRmUImgJ9M1-7V9DfEY3ljLmTsesYnkBy180MlH3Dt2D_nEhDMMz5wjuGgXozxWSgpqEliGhTu6OFkKpMbNLhsXJNvrnO5BX2QHQ',
    'width': 4032}],
  'place_id': 'ChIJARxrTiTVslIRJxc4iTkTICg',
  'plus_code': {'compound_code': 'XWCM+9P Saint Paul, Minnesota, United States',
   'global_code': '86P8XWCM+9P'},
  'rating': 3.8,
  'reference': 'ChIJARxrTiTVslIRJxc4iTkTICg',
  'reviews': [{'author_name': 'Khoua Eh Lee',
    'author_url': 'https://www.google.com/maps/contrib/118388722080700854970/reviews',
    'language': 'en',
    'profile_photo_url': 'https://lh3.ggpht.com/-OiuIP1AO2xc/AAAAAAAAAAI/AAAAAAAAAAA/gv1vdT3g9eU/s128-c0x00000000-cc-rp-mo-ba5/photo.jpg',
    'rating': 5,
    'relative_time_description': '9 months ago',
    'text': 'A small but super convenient place to get your asian foods and ingredients. I love how tidy this place is. They do have food available to eat on the go as well. Typical hmong food which is good for what it is. We have ordered a few trays of food from here and its always been really good and service from employees are always great! Parking is very small but you can easily park on the street next to the store as well. Come here if youre looking for a very decent  convient asian store!',
    'time': 1562982509},
   {'author_name': 'Amanda Lor',
    'author_url': 'https://www.google.com/maps/contrib/102443818949684030347/reviews',
    'language': 'en',
    'profile_photo_url': 'https://lh5.ggpht.com/-CKsncKJ3Wp8/AAAAAAAAAAI/AAAAAAAAAAA/K4igBwkCNK4/s128-c0x00000000-cc-rp-mo/photo.jpg',
    'rating': 5,
    'relative_time_description': '2 months ago',
    'text': 'My go-to for eggroll and spring roll catering for the past 4 years.  Friendly staffs and owners.  \nParking lot is a bit small but there are street parking.',
    'time': 1581526826},
   {'author_name': 'Gene Peters',
    'author_url': 'https://www.google.com/maps/contrib/100770271285657680422/reviews',
    'language': 'en',
    'profile_photo_url': 'https://lh3.ggpht.com/-YWorOdm0gx4/AAAAAAAAAAI/AAAAAAAAAAA/LAybt7doRwQ/s128-c0x00000000-cc-rp-mo/photo.jpg',
    'rating': 5,
    'relative_time_description': '7 months ago',
    'text': 'The eggrolls are the best in my opinion. Bigger than most as well. Very wonderful service!',
    'time': 1569336777},
   {'author_name': 'Erika Vang',
    'author_url': 'https://www.google.com/maps/contrib/106850665849712716787/reviews',
    'language': 'en',
    'profile_photo_url': 'https://lh5.ggpht.com/-N3zoNBas1RQ/AAAAAAAAAAI/AAAAAAAAAAA/7-C3nfkQz8c/s128-c0x00000000-cc-rp-mo/photo.jpg',
    'rating': 1,
    'relative_time_description': '7 months ago',
    'text': 'Grocery prices are a bit on the higher end. I got a box of noodles of here for $17.99. I went down the street to Golden Harvest and found the same box of noodles there for $11.99.',
    'time': 1568990999},
   {'author_name': 'Pao Moua',
    'author_url': 'https://www.google.com/maps/contrib/102023464821356573098/reviews',
    'language': 'en',
    'profile_photo_url': 'https://lh6.ggpht.com/-Esg7fv8AtHg/AAAAAAAAAAI/AAAAAAAAAAA/Io04LYCFoco/s128-c0x00000000-cc-rp-mo-ba6/photo.jpg',
    'rating': 3,
    'relative_time_description': '8 months ago',
    'text': 'Store and everything was good, but the service is not good. Girl sitting in the front did not help us for 5 minutes after we rung the bell and while we stood there waiting to buy food.',
    'time': 1566322787}],
  'scope': 'GOOGLE',
  'types': ['convenience_store',
   'food',
   'point_of_interest',
   'store',
   'establishment'],
  'url': 'https://maps.google.com/?cid=2891332098608076583',
  'user_ratings_total': 20,
  'utc_offset': -300,
  'vicinity': '990 Arcade Street, Saint Paul'},
 'status': 'OK'}

In [19]:
gmaps_data_details_1['result']['opening_hours']['periods']

[{'close': {'day': 0, 'time': '2000'}, 'open': {'day': 0, 'time': '0800'}},
 {'close': {'day': 1, 'time': '2000'}, 'open': {'day': 1, 'time': '0800'}},
 {'close': {'day': 2, 'time': '2000'}, 'open': {'day': 2, 'time': '0800'}},
 {'close': {'day': 3, 'time': '2000'}, 'open': {'day': 3, 'time': '0800'}},
 {'close': {'day': 4, 'time': '2000'}, 'open': {'day': 4, 'time': '0800'}},
 {'close': {'day': 5, 'time': '2000'}, 'open': {'day': 5, 'time': '0800'}},
 {'close': {'day': 6, 'time': '2000'}, 'open': {'day': 6, 'time': '0800'}}]

In [20]:
gmaps_data_details_1['result']['opening_hours']['weekday_text']

['Monday: 8:00 AM – 8:00 PM',
 'Tuesday: 8:00 AM – 8:00 PM',
 'Wednesday: 8:00 AM – 8:00 PM',
 'Thursday: 8:00 AM – 8:00 PM',
 'Friday: 8:00 AM – 8:00 PM',
 'Saturday: 8:00 AM – 8:00 PM',
 'Sunday: 8:00 AM – 8:00 PM']

Compare the two code blocks above, we can see that, in the  data structure of the Google Maps opening hours, day_0, day_1 ..., day_6 represents Sunday, Monday, ..., Saturday, respectively.

In [21]:
# Get the 'time' value of the second grocery store and store them in a list
vals_1 = []
for i in range(7):
    data_1_close = gmaps_data_details_1['result']['opening_hours']['periods'][i]['close']['time']
    data_1_open = gmaps_data_details_1['result']['opening_hours']['periods'][i]['open']['time']
    vals_1.append(data_1_open)
    vals_1.append(data_1_close)
print(vals_1)

['0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000']

## Part 3: Traverse the data list to get the a week's opening hours of each store

We successfully get the opening hours of "33RD MEAT & GROCERY" in Part 2. This part we will create a nested "for" loop to access the opening hours of every grocery store. Here we break down the grocery stores by pages and then iterate through every ten record to get the information of each store.

In [13]:
# Create 14 new columns to store open and close time from Sunday to Saturday
new_cols = ['DAY1_OPEN', 'DAY1_CLOSE', 
            'DAY2_OPEN', 'DAY2_CLOSE',
            'DAY3_OPEN', 'DAY3_CLOSE',
            'DAY4_OPEN', 'DAY4_CLOSE',
            'DAY5_OPEN', 'DAY5_CLOSE',
            'DAY6_OPEN', 'DAY6_CLOSE',
            'DAY0_OPEN', 'DAY0_CLOSE',]

In [14]:
# Create 2 new columns to store matching address
match_cols = ['match_address', 'match_name']

In [15]:
# Copy the dataframe "df2" into dataframe "df3" to reset its row index
df3 = df2.reset_index(drop=True)

In [16]:
# Assign basic indices to variables.  
record_count = len(df3)

In [17]:
new_vals = [] # Create a list to store opening and closing hours
mat_addr_list = [] # Create a list to matching address
mat_name_list = [] # Create a list to store matching name

In [18]:
# If there is a "#" in store names, Text Search will not work. So, only select the text before "#". 
for index in range(record_count):
    if '#' in df3.at[index,'name'] != None:
        df3.loc[index,'name'] = df3.at[index,'name'].split('#')[0]

In [19]:
# iterate through the index of each store in the dataframe 
for index in range(record_count): # Be careful! If this number is too large, this step will be costful!  
    query = df3.at[index,'address.street'] + ', ' + df3.at[index,'address.city']+ ', ' + str(df3.at[index,'address.zipCode'])+ ', ' + df3.at[index,'name']
    gmaps_search_url = gmaps_text_url + 'query=' + query + '&key=' + my_api_key
    gmaps_search_resp = requests.get(gmaps_search_url)
    gmaps_place_data = gmaps_search_resp.json()
        
    # If there's no match on the Google maps, we fill the dataframe with "NaN"
    if gmaps_place_data['status'] == 'ZERO_RESULTS':
        new_vals.extend(['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN'])
        mat_addr_list.append('NaN')
        mat_name_list.append('NaN')
    
    # If there is a match result by searching the store address and name:
    else:
        
        # Try to use its place id to get the opening hours. Also, get the match name and match address
        try:
            gmaps_place_id = gmaps_place_data['results'][0]['place_id']
            matching_addr = gmaps_place_data['results'][0]['formatted_address']
            mat_addr_list.append(matching_addr)
            matching_name = gmaps_place_data['results'][0]['name']
            mat_name_list.append(matching_name) 
            gmaps_placedetails_url = gmaps_details_url+ 'place_id=' + gmaps_place_id + "&key=" + my_api_key
            gmaps_placedetails_resp = requests.get(gmaps_placedetails_url)
            gmaps_placedetails = gmaps_placedetails_resp.json()
            for i in range(7):               
                try:
                    
                    # If the store is open 24 hours every day, fill the time cells with '0000' 
                    if gmaps_placedetails['result']['opening_hours']['periods'][0] == {'open': {'day': 0, 'time': '0000'}}:
                        new_vals.extend(['0000', '0000'])
                    
                    # If the store has regular opening and closing time, get the time
                    else:
                        data_open = gmaps_placedetails['result']['opening_hours']['periods'][i]['open']['time']
                        data_close = gmaps_placedetails['result']['opening_hours']['periods'][i]['close']['time']
                        new_vals.append(data_open)
                        new_vals.append(data_close)

                # If the opening hours for the matched store is not available, we fill the dataframe cells with "NaN"
                except:
                    new_vals.extend(['NaN', 'NaN'])
        
        # For some reason, the place id of some stores are not available. If so, fill the dataframe with "NaN" 
        except: 
            new_vals.extend(['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN'])
            mat_addr_list.append('NaN')
            mat_name_list.append('NaN')

# Take a look at our data
print(new_vals)
print(mat_addr_list)
print(mat_name_list)

['0930', '1700', '0930', '1845', '0930', '1700', '0930', '1845', '0930', '1845', '0930', '1845', '1030', '1845', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0830', '1800', '0830', '1900', '0830', '1900', '0830', '1900', '0830', '1900', '0830', '1900', '0830', '1900', '0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200', '0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300', '0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200', '0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030', '1000', '1600', '0900', '1900', '0900', '1900', '0900', '1900', '0900', '1900', '0900', '1900', '0900', '1800', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
['2635 Nicollet Ave, Minneapolis, MN 55408, United States', '990 Arcade St, St Paul, MN 55106, United States', '1187 Minnehaha Ave E, St Paul, MN 55106, United States', '43 7th St W, St Paul, MN 55102, United States', '191 Western Ave N # 1, St Paul, MN 55102, United States', '8904 Old Cedar Ave S, Bloomington, MN 55425, United States', '7617 Welcome Ave N, Brooklyn Park, MN 55443, United States', '405 E Lake St, Minneapolis, MN 55408, United States', '555 Snelling Ave N, St Paul, MN 55104, USA', '613 Cedar Ave, Minneapolis, MN 55454, United States']
['Dai Loi Oriental Grocery Inc', '52 Market & Trading', '75 Market', '7th Grocery', 'AA Market', 'Aaran Halal Market', 'AFRICA INTERNATIONAL MARKET', 'African Safari Meat Market', '555 Snelling Ave N', 'Afrik Grocery']

In [20]:
# Check the number of our data
print(len(new_vals))
print(len(mat_addr_list))
print(len(mat_name_list))

140
10
10

In [21]:
# Slice the data list at every 14th time record (2 time information * 7 days)
chunks = [new_vals[x:x+14] for x in range(0, len(new_vals), 14)]
print(chunks)

[['0930', '1700', '0930', '1845', '0930', '1700', '0930', '1845', '0930', '1845', '0930', '1845', '1030', '1845'], ['0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000', '0800', '2000'], ['0830', '1800', '0830', '1900', '0830', '1900', '0830', '1900', '0830', '1900', '0830', '1900', '0830', '1900'], ['0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200', '0700', '2200'], ['0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300', '0800', '2300'], ['0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200', '0600', '2200'], ['0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030', '0900', '2030'], ['1000', '1600', '0900', '1900', '0900', '1900', '0900', '1900', '0900', '1900', '0900', '1900', '0900', '1800'], ['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN'], ['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']]

In [22]:
# Construct a dataframe using the columns created before
# Store every 14 records into a row
df5 = pd.DataFrame()
for i in range(len(chunks)):
    df4 = pd.DataFrame([chunks[i]], columns=new_cols) 
    df5 = df5.append(df4)
print(df5)

  DAY1_OPEN DAY1_CLOSE DAY2_OPEN DAY2_CLOSE DAY3_OPEN DAY3_CLOSE DAY4_OPEN  \
0      0930       1700      0930       1845      0930       1700      0930
0      0800       2000      0800       2000      0800       2000      0800
0      0830       1800      0830       1900      0830       1900      0830
0      0700       2200      0700       2200      0700       2200      0700
0      0800       2300      0800       2300      0800       2300      0800
0      0600       2200      0600       2200      0600       2200      0600
0      0900       2030      0900       2030      0900       2030      0900
0      1000       1600      0900       1900      0900       1900      0900
0       NaN        NaN       NaN        NaN       NaN        NaN       NaN
0       NaN        NaN       NaN        NaN       NaN        NaN       NaN

  DAY4_CLOSE DAY5_OPEN DAY5_CLOSE DAY6_OPEN DAY6_CLOSE DAY0_OPEN DAY0_CLOSE
0       1845      0930       1845      0930       1845      1030       1845
0       2000      0800       2000      0800       2000      0800       2000
0       1900      0830       1900      0830       1900      0830       1900
0       2200      0700       2200      0700       2200      0700       2200
0       2300      0800       2300      0800       2300      0800       2300
0       2200      0600       2200      0600       2200      0600       2200
0       2030      0900       2030      0900       2030      0900       2030
0       1900      0900       1900      0900       1900      0900       1800
0        NaN       NaN        NaN       NaN        NaN       NaN        NaN
0        NaN       NaN        NaN       NaN        NaN       NaN        NaN

In [23]:
# Copy the dataframe "df5" into dataframe "df6" to reset its row index
# This step is for concatenate two dataframes along the column, too
df6 = df5.reset_index(drop=True)

In [24]:
# Create a dataframe "df7" to
mat_data_dict = {'match_address': mat_addr_list, 'match_name': mat_name_list}
df7 = pd.DataFrame(mat_data_dict, columns=match_cols)
df7

,match_address,match_name
0,"2635 Nicollet Ave, Minneapolis, MN 55408, Unit...",Dai Loi Oriental Grocery Inc
1,"990 Arcade St, St Paul, MN 55106, United States",52 Market & Trading
2,"1187 Minnehaha Ave E, St Paul, MN 55106, Unite...",75 Market
3,"43 7th St W, St Paul, MN 55102, United States",7th Grocery
4,"191 Western Ave N # 1, St Paul, MN 55102, Unit...",AA Market
5,"8904 Old Cedar Ave S, Bloomington, MN 55425, U...",Aaran Halal Market
6,"7617 Welcome Ave N, Brooklyn Park, MN 55443, U...",AFRICA INTERNATIONAL MARKET
7,"405 E Lake St, Minneapolis, MN 55408, United S...",African Safari Meat Market
8,"555 Snelling Ave N, St Paul, MN 55104, USA",555 Snelling Ave N
9,"613 Cedar Ave, Minneapolis, MN 55454, United S...",Afrik Grocery

Now we have three dataframes "df3", "df6", and "df7" in the same row indices. The first stores grocery stores and their addresses, the second stores their opening hours, and the third stores the matching information.

In [25]:
# Concatenate the two dataframes along the column
df8 = pd.concat([df3, df6, df7], axis=1)

In [70]:
# Save data into a csv file
df8.to_csv("data_sample.csv")